@import url('https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');


:root{
    --heading-font: 'Pliant', sans-serif;
    --body-font: 'Stack Sans Headline', sans-serif;
    --bg-color: #F8F8F6;
    --border-color: #ccc4bb;
    --text-color: #4f3e34;
    --accent-color: #e3753a;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--body-font);
    line-height: 1.5rem; 
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

    background-color: var(--bg-color);
}

main{
    padding: min(30px,7%);

    h1{
        margin: 20px 20px 20px 0px;
    }
}

.home-container{
    border: 2px solid #a5582e;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    background-color: 	#e3753a;
    box-shadow: 0px 10px 10px #91330020;
    
    h2, h3{
        color: #FFFFFF;
    }
}

.spent-container{
    border: 2px solid var(--border-color);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    background-color: 	var(--background-color);
    box-shadow: 0px 10px 10px #91330020;
    
    h2, h3{
        color: var(--text-color);
    }
}

.saved-container{
    border: 2px solid var(--border-color);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    background-color: 	var(--background-color);
    box-shadow: 0px 10px 10px #91330020;
    
    h2, h3{
        color: var(--text-color);
    }
}

#sidebar{
    box-sizing:border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color:var(--bg-color);
    border-right: 2px solid var(--border-color);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;

    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul li{
    margin: 10px;
    cursor: pointer;
    border: white;
    border-radius: 1em;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    
    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active a{
    color: var(--accent-color);
    background-color: white;
    font-weight: 600;

    svg{
        fill: var(--accent-color);
    }
}


#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-color);
    display: flex; 
    align-items: center;
    gap: 1em;
    transition: all 0.2s ease-in-out;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg{
    flex-shrink: 0;
    fill: white;
}

#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: white;
    color: #e3753a;

    
}

#sidebar .submenu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div{
        overflow: hidden;
    }
}

#sidebar .submenu.show{
    grid-template-rows: 1fr;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

#notif-btn{
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    background-color: var(--bg-color);
    border: 2px solid #ccc4bb;
    color: white;
    cursor: pointer;
    padding: 10px 16px;

    svg{
        fill: #ccc4bb;
    }
    transition: all 0.2s ease-in-out;
}

#notif-btn:hover{
    background-color: white;
    color: #e3753a;
    svg{
        fill: #e3753a;
    }
}
.interact-btn{
    font-family: inherit;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    background-color: var(--bg-color);
    border: 2px solid #ccc4bb;
    color: var(--text-color);
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 400;

    svg{
        fill: #ccc4bb;
    }
    transition: all 0.2s ease-in-out;
}

.interact-btn:hover{
    background-color: white;
    color: #e3753a;
    font-weight: 600;
    svg{
        fill: #e3753a;
    }
}

.money-overview{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
    width: 100%;
}

.transactions-container{
    border: 2px solid var(--border-color);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    background-color: 	var(--background-color);
    box-shadow: 0px 10px 10px #91330020;
    
    h2, h3{
        color: var(--text-color);
    }
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
        color: var(--accent-color);
    }
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--border-color);
    border-radius: 1em;
    box-shadow: 0px 10px 10px #91330020;
    color: var(--text-color);

    th{
        text-align: left;
        padding: 1em;
        background-color: var(--bg-color);
        border-bottom: 2px solid var(--border-color);
    }
    td{
        text-align: left;
        padding: 1em;
        border-bottom: 2px solid var(--border-color);
    }
    tr{
        transition: 300ms ease-in-out;
    }
    tr:nth-child(even) {
        background-color: color-mix(in srgb, var(--border-color), transparent 50%);
    }
}
tr:hover, tr:nth-child(even):hover{
    background-color: var(--border-color);
}

.cta-btn{
    font-family: inherit;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    background-color: var(--accent-color);
    border: 2px solid #a5582e;
    color: white;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 400;

    svg{
        fill: #ccc4bb;
    }
    transition: all 0.2s ease-in-out;
}

.cta-btn:hover{
    background-color: white;
    color: #e3753a;
    font-weight: 600;
    svg{
        fill: #e3753a;
    }
}

#uploadBtn{
    font-family: inherit;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    background-color: var(--accent-color);
    border: 1px solid #a5582e;
    color: white;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 400;

    svg{
        fill: #ccc4bb;
    }
    transition: all 0.2s ease-in-out;
}

#uploadBtn:hover{
    background-color: white;
    color: #e3753a;
    font-weight: 600;
    svg{
        fill: #e3753a;
    }
}

#uploadBtn:active{
    border: 2px solid #a5582e;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    svg{
        fill: white;
    }
}

input[type="file"]{
    display: none;
}
#myGrid { 
    height: 50vh; 
    width: 100%; 
    margin-top: 1.5em;
}
.ag-theme-quartz { 
    box-sizing: border-box; 
}

.ag-theme-quartz .ag-cell{
    border-bottom: 1px solid var(--border-color);
    font-family: 'Stack Sans Headline', sans-serif;
    color: var(--text-color);
    font-family: (--body-font);
    font-weight: 200 ;
    font-size: 1em;
}

.ag-header-cell-text{
    color: var(--text-color);
    font-family: 'Stack Sans Headline', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
.ag-row:hover{
    background-color: #ffa97b;
}
.ag-cell:hover{
    color: white;
    font-weight: 600;
}

#greeting{
    color: var(--text-color);
}
#file-upload-form{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--border-color);
    border-radius: .5em;
    background-color: 	var(--background-color);
    box-shadow: 0px 10px 10px #91330020;
    color: var(--text-color);
    font-weight: 400;
    align-items: center;
}
#file-drag{
    cursor: pointer;
    font-size: 75%;
    padding-left: 1em;
    padding-right: 1em;
    transition: 300ms ease-in-out;
}

#file-drag:hover{
    color: var(--accent-color);
    text-decoration: underline;
    font-weight: 600;
}

.transactions-header{
    display: flex;
    align-items:center
}

.controls{
    margin-left: auto;
    display: flex;
    gap: 0.8rem;
    align-items:center;
}